/* Xeral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Títulos */
h3 {
    color: #333;
}

/* Táboa */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #6070ff;
}

/* Formularios */
form {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: 25;

}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: rgb(238, 238, 238);
    /* border-width: 2; */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 10px;
    margin-right: 10px;
}
